<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
    <comment>Console commands</comment>
    <entry key="ls">by.pavel.command.FileAndDirList</entry>
    <entry key="ps">by.pavel.command.RunningProcessList</entry>
    <entry key="pwd">by.pavel.command.CurrentDirectory</entry>
</properties>